body {
    background-color: black;
    direction: rtl;
}

.img {
    height: 200px;
    width: 100%;
    background-color: #a4a4a4;
    /* background-image: url(http://localhost:4444/files/20200816_184358.jpg); */
    background-size: cover;
    background-position: center;
}

#grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 8px;
}

@media (max-width: 1200px) {
    #grid {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width: 1000px) {
    #grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 800px) {
    #grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

form {
    background: white;
    max-width: 400px;
    margin: auto;
    border-radius: 6px;
    padding: 12px;
}

form h1 {
    margin: 0;
    margin-bottom: 12px;
    text-align: center;
}

form input {
    padding: 8px;
    border: 1px solid #a7a7a7;
    border-radius: 6px;
    box-sizing: border-box;
    width: 100%;
}

form button {
    width: 100%;
    padding: 8px;
    font-size: 15px;
    border-radius: 6px;
    border: 0;
    background: #286a6c;
    color: white;
    margin-top: 6px;
}