body {
    direction: rtl;
    background-color: aliceblue;
}

#board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

#board>div {
    height: 150px;
    width: 150px;
    background-size: cover;
    background-position: center;
    background-color: cadetblue;
    transition: 0.6s;
}

.showed {
    transform: matrix3d(1, 0, 4, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1);
}

#board>div:not(.showed) {
    background-image: none !important;
}