body {
    direction: rtl;
    background-color: aliceblue;
}

#board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

#board>div {
    height: 150px;
    width: 150px;
    background-size: cover;
    background-position: center;
}